:root {
  --accent-color:             #333;
  --black-color:              #000;
  --dark-color:               #02140E;  
  --gray-color-100:           #F9F7F5;
  --gray-color-200:           #E1E1E1;
  --gray-color-300:           #D8D8D8;
  --gray-color-400:           #ced4da;
  --gray-color-500:           #adb5bd;
  --dark-gray-color:          #474341;
  --bs-light-rgb:             rgba(255,255,255,1);
  --light-color:              #fff;
  --bs-light-rgb:             rgba(255,255,255,1);
  --primary-color:             blue;
  --primary-dim-color:        wheat;  
  --primary-light-color:      #EAF1E4;
  --secondary-color:          white;
  --yellow-color:             #F1B416;
  --swiper-theme-color:       #807E7C !important;  

}
@media screen and (max-width: 600px) {
    :root {
        --header-height : 100px;
        --header-height-min   : 80px;
    }
}

:root {
    --body-font           : "Poppins", sans-serif;
    --heading-font        : "Poppins", sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
body {
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  color: var(--accent-color);
  margin: 0;
}
ul.inner-list li {
   font-size: 1.2em;
   color: var(--dark-gray-color);
}
a {
  color: var(--dark-gray-colo);
  text-decoration: none;
  transition: 0.3s color ease-out;
}
a.light {
  color: var(--light-color);
}
a.stretched-link {
  color: var(--primary-color);
}
a:hover {
  text-decoration: none;
  color: inherit;
}
p.light {
  color: var(--light-color);
}
ul.light li {
  color: var(--light-color);
}
span.light {
  color: var(--light-color);
}
svg.light {
  color: var(--light-color);
}
svg.light:hover {
  color: var(--primary-color);
}
table.light tr {
   color: var(--light-color);
}
b, strong {
  font-weight: bold;
}
.highlight {
  background: var(--dark-color);
  color: var(--light-color);
}

.bg-dark {
    background: var(--dark-color) !important;
}
.bg-light {
    background: var(--light-color) !important;
}
.bg-gray-100 {
  background: var(--gray-color-100) !important;
}
.bg-primary-light {
    background: var(--primary-light-color) !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.text-primary-dim {
  color: var(--primary-dim-color) !important;
}

.border-rounded-40 {
   border-radius: 340px;
}
.border-circle {
   border-radius: 50%;
}

.padding-small {
  padding-top: 2em;
  padding-bottom: 2em;
}
.padding-medium {
  padding-top: 4em;
  padding-bottom: 4em;
}
.padding-large {
  padding-top: 7em;
  padding-bottom: 7em;
}
.padding-xlarge {
  padding-top: 10em;
  padding-bottom: 10em;
}

.margin-small {
  margin-top: 3em;
  margin-bottom: 3em;
}
.margin-medium {
  margin-top: 5em;
  margin-bottom: 5em;
}
.margin-large {
  margin-top: 7em;
  margin-bottom: 7em;
}
.margin-xlarge {
  margin-top: 9em;
  margin-bottom: 9em;
}

@media only screen and (max-width: 768px) {
  .margin-small,
  .margin-medium,
  .margin-large {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
    font-weight: 500;
    line-height: 1;
}
h1.light, h2.light, h3.light, h4.light, h5.light {
    color: var(--light-color);
}

.container-md {
    max-width: 1450px;
}
.container-lg {
    max-width: 1750px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* 3.2 Navigation Sticky 
------------------------------------------------------------- */
nav.nav-bg{
  background: rgba(0,0,0,0.8);
  height: 80px;
  padding: 10px 50px;
}
nav.nav-bg a.nav-link {
  color: var(--light-color) !important;

}
nav.nav-bg a.nav-link:hover {
 
  border-bottom: 2px solid white;
}

/*----------------------------------------------*/
/* 4 SITE STRUCTURE */
/*----------------------------------------------*/

/* 4.1 Header
------------------------------------------------------------- */
.site-header {
  width: 100%;
  z-index: 10;
}
#navbar a.nav-link:hover,
#navbar a.nav-link:focus
 {
  color: var(--light-color);
}
.navbar-toggler svg.navbar-icon {
  width: 40px;
  height: 40px;
  fill: var(--light-color);
  outline: none;
  
}

@media only screen and (max-width: 1400px) {
  #header-nav .btn-box {
     display: none;
   }
  .justify-content-md-end {
     justify-content: flex-end!important;
   }
 }

/* - Offcanvas
------------------------------------------------------------- */
#header-nav .offcanvas.show {
  z-index: 9999;
  background-color: var(--gray-color-100);
}
.offcanvas.show .nav-item a.nav-link,
#header-nav .offcanvas.show .nav-item a:hover {
  font-size: 2em;
  color: var(--dark-color);
}
.offcanvas.show .offcanvas-body .navbar-nav {
  align-items: unset!important;
  padding-left: 20px;
}
.nav-item{ 
  text-decoration: none; 
  display: inline-block; 
}
.nav-item:after {
  content: '';
  display: block;
  border-bottom: 2px solid black;
  width: 0;
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
}
.nav-item:hover:after { width: 100%; }
@media (min-width: 1399px) {
  #header .navbar-expand-lg {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  #header .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  #header .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

/* 4.2 Intro
------------------------------------------------------------- */
.banner-content h1.banner-title {
  font-size: 8.7em;
  animation: fade-in 1s;
  animation-duration: 7s;
}
.banner-content h2.subtitle {
  font-size: 4.7em;
  animation: fade-in 1s;
  animation-duration: 7s;
}

@media (max-width: 1366px) {
  #intro {
    padding-top: 2em;
 }
  .banner-content h1.banner-title {
    font-size: 8.7em;
 }
 .banner-content h2.subtitle {
    font-size: 4.2em;
  }
}
@media (max-width:580px) {
  .banner-content h1.banner-title {
    font-size: 5.7em;
 }
 .banner-content h2.subtitle {
    font-size: 2.2em;
  }
}

/* 4.3 Testimonial
------------------------------------------------------------- */
.testimonial {
  bottom: 100px;
}
.testimonial .review-item {
  width: 45%;
  box-shadow: -1px 7px 10px -13px rgba(0,0,0,0.45);
}
.testimonial .review-item .review-content {
  width: 80%;
}
.review-item svg.star {
  fill: var(--yellow-color);
}

@media (max-width: 1267px) {
  .testimonial {
    bottom: -50px;
  } 
  .testimonial .review-item {
    margin-bottom: 20px;
  }
}

@media (max-width:991px) {
  .testimonial .review-item {
    width: 85%;
  }
}

@media (max-width:580px) {
  .testimonial .review-item {
    width: 95%;
  }
  .testimonial .review-item .review-content {
    width: 65%;
  }
}

/* 4.4 Training
------------------------------------------------------------- */
.training-card .card-detail {
  bottom: 90px;
  left: 45px;
  width: 60%;
  color: #000;
}

/* 4.5 Information
------------------------------------------------------------- */
#information .info-detail {
  padding: 7em 4em;
}

@media (max-width:1280px) {
  #information .info-detail {
    padding: 4em;
  }
}

/* 4.6 Newsletter
------------------------------------------------------------- */
.newsletter-form {
  width: 60%;
}
.newsletter-content input {
  width: 100%;
  height: 68px;
  border: 1px solid var(--gray-color-300);
}
.newsletter-content button {
  top: 2px;
  right: 0;
}

@media (max-width:1366px) {
  .newsletter-form {
    width: 90%;
  }
}

@media (max-width:580px) {
  .newsletter-content button {
    top: 76px;
    width: 100%;
  }
} 


/* 4.7 Footer
------------------------------------------------------------- */
@media (max-width:580px) {
  #footer .row {
    margin: 0 auto;
    text-align: center;
  }
  #footer ul.social-links {
    margin: 0 auto;
    justify-content: center;
  }
} 

.navbar-nav .nav-item .nav-link {
  font-weight: bold;
  font-size: large;
}
.navbar-nav .nav-item:hover .nav-link {
  color: white;
  font-size: large;
}
@media (max-width: 991px) {
  .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}
